<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JSON_examples_javarush/src/fourth_from_one_class_to_another/Solution.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fourth_from_one_class_to_another.Solution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JSON_examples_javarush"/>
</launchConfiguration>
